<header>
    <nav id="navbar">
        <div>
            <a href="#">Secret Chat</a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <form id="logout-form" action="/auth/logout" method="get">
                    <button class="logout">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <button id="toggleButton">Menu</button>
</header>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const navbar = document.getElementById('navbar');

    toggleButton.addEventListener('click', () => {
        if (navbar.style.transform === 'translateX(0%)') {
            navbar.style.transform = 'translateX(-100%)';
            toggleButton.textContent = 'Menu';
            toggleButton.style.backgroundColor = "#2e2e2e";
        } else {
            navbar.style.transform = 'translateX(0%)'; 
            toggleButton.textContent = 'Close'; 
            toggleButton.style.backgroundColor = "#ff0000";
        }
    });
</script>
