<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <% if (locals.user) { %>
    <h1>Hello, <%= locals.user.firstname + " " + locals.user.lastname %></h1>
    <form action="/auth/logout" method="post">
      <button>Logout</button>
    </form>
    <% } else { %>
        <h1>Hello, Anonymous User</h1>
        <form action="/auth/login" method="get">
          <button>Login</button>
        </form>
    <% } %> 
  </body>
</html>
