* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    45deg,
    #1abc9c,
    #1a3636,
    #40534c,
    #677d6a,
    #3498db
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s linear infinite; /* Changed to linear */
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bolder;
  text-transform: capitalize;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #218838;
  font-weight: bolder;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  button {
    width: 100%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 100%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 100%;
  }
}
